body{
    background: linear-gradient(#41295a, #2f0743);
    width: 100%;
    height: 100%;
}
.bar a{
    text-decoration: none;
    color: white;
}
.bar ul{
    list-style: none;
}
.bar h1{
    color: white;
    font-size: 64px;
}
.socials{
    max-width: 45%;
    
}
.socials img{
   width: 100%;
}
.socials img{
    display: inline;
}
body{
    display: flex;
}
header ul{
    display: flex;
}
.main{
 text-align: center;
}
.main h1{
    margin: 0 auto;
    text-align: cen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    border: solid white 1px;
    border-radius: 25px;
    padding: 18px;
    display: inline-block;
}
.socials{
    display: flex;
    
}
.socials li{
    padding: 2px;

}
.side ul{
    flex-direction:row;
    
}
.side li{
    padding: 10px;
}
.content{
    display: flex;
    
}
.Society{
    list-style: none;
    display: flex;
    padding: 20px;
    max-width: 100%;
}
.Society li{
    border: solid white 2px;
    margin: 7px;
    padding: 6px;
}
li,h1,h2,h3,a{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
   
}


.owasp{
    width: 70%;
     
    
    }
.mudra{
    width: 50%;
}
.virsa{
    width: 35%;
}
p{
    display: flex;
 align-content: baseline;
}
.side a{
    border: white solid 2px;
    border-radius: 45px;
    padding: 5.5px;
}
.socials{
    border: white solid 2px;
    border-radius: 45px;
    padding-right: 22px;
    padding-top: 16px;
}
.side{
    background-color: grey;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 225px;
    height: 100%;

}